<button (click) = "getPosts()">GetPosts </button>
<div *ngFor = "let posts of posts | async">
{{posts | json}}
</div>
<!--mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{posts.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{posts.body}}   
    </mat-expansion-panel>
  </mat-accordion>-->